.art_image {
    max-width: 300px;
    max-height: 300px;
}

.art_container {
    max-width: 300px;
    max-height: 300px;
    margin: 5px;
    align-self: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: auto;
}

.comments-popup {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    flex-direction: row;
}

.art-image-popup {
    max-width: 100%;
    max-height: 100%;
}

.img-body {
    width: 930px;
    height: 488px;
    text-align: center;
}

.comment-section {
    width: 350px;
    height: 100%;
    background-color: white;
}