.art_image {
    max-width: 100%;
    max-height: 100%;
}

.art_container {
    width: 300px;
    height: 300px
}

.flex-container {
    margin: 25px;
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 300px;
    display: inline-block;
}

body,
html {
    margin: 0;
    padding: 0;
}