{% load static %}
<div>{% include "navigation_bar.html" %}</div>
<link rel="stylesheet" href="{% static 'index.css' %}">
<body style ="background-color: #c4c5ff">
    <div class = "flex-container">
        {% for piece in pieces %}
            <div class = "art_container">
            <script>
                function imagePopup(nameid) {
                    id = nameid + "a"
                    var image = document.getElementById(id);
                    if (image.style.display === "none") {
                      image.style.display = "block";
                    } else {
                      image.style.display = "none";
                    }
                  }
            </script>
            <img onclick="imagePopup(this.id)" class = "art_image" id = "{{piece.name}}" src="{{piece.image}}">
            <div class = "comments-popup" id = "{{piece.name}}a">
                <div class = "img-body">
                    <img class = "art-image-popup" src="{{piece.image}}">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>