{% load static %}
<div>{% include "navigation_bar.html" %}</div>
<link rel="stylesheet" href="{% static 'index.css' %}">
<style>
.hidden {display:none;}
.ovhidden {overflow-y:visible;}
</style>
<html class = "ovhidden">
<body class = "ovhidden" id = "ind-body" style ="background-color: #c4c5ff">
    <div class = "flex-container">
        {% for piece in pieces %}
        <div class = "art_container">
            <img class = "art_image" src="{{piece.image}}"
            id = "art_image"
            name = "{{piece.name}}"
            data-datefinished = "">
            <script>
                d = '{{piece.date_finished}}'
                pieceName = '{{piece.name}}'
                document.getElementsByName('{{piece.name}}').forEach((el) => {
                    if(el.name === pieceName){
                    el.setAttribute("data-datefinished", d)
                    }
                })
            </script>
        </div>
        {% endfor %}
        <div class="comments-popup hidden" id = "comments-popup">
            <div id = "image-body" class = "img-body">
                <img class = "art-image-popup" id = "art-pop-image" src=""
                name = ""
                datefinished = "">
            </div>
            <div class = "comment-section">
                <div class = "comments">
                    <div id = "comments-name-wrapper" class = "name-wrapper" imgName = "name">
                        <div class = "name" id = "name">
                        </div>
                        <div class = "date-finished" id = "date-finished">
                        </div>
                    </div>
                    <div class = "comments">
                        test test test test test test test test test test
                        test test test test test test test test test test 
                        test test test test test test test test test test  
                        test test test test test test test test test test 
                        test test test test test test test test test test 
                        test test test test test test test test test test 
                        test test test test test test test test test test 
                        test test test test test test test test test test 
                        test test test test test test test test test test 
                    </div>
                </div>
            </div>
        </div>
        <script>
            function changeName(name){
                document.getElementById("art-pop-image").setAttribute("name", name)
                document.getElementById("comments-name-wrapper").setAttribute("imgName", name)
                document.getElementById("name").innerHTML = "Name: " + name;
            }
            function changeDateFinished(date_finished){
                document.getElementById("art-pop-image").setAttribute("datefinished", date_finished)
                document.getElementById("date-finished").innerHTML = ("Date finished: " + date_finished)
            }
            function changeSrc(src){
                document.getElementById("art-pop-image").setAttribute("src", src)
            }
            function toggle(){
                document.getElementById("comments-popup").classList.toggle("hidden")
                document.getElementById("ind-body").classList.toggle("ovhidden")
            }
            document.querySelectorAll("img.art_image").forEach((el) => {
                el.addEventListener("click", () => {
                    changeSrc(el.src)
                    changeName(el.name)
                    changeDateFinished(el.dataset.datefinished)
                    toggle()
                }
                )
            })
            document.getElementById("image-body").addEventListener("click", (e) =>{
                if(event.target.id === "image-body"){
                    toggle()
                }
            })
        </script>
    </div>
</body>